---
---

img.language.flag {
  display: inline-block;
  height: 1em;
  line-height: 1em;
  margin-top: -0.25em;
}

.post-link {
  display: inline-block;
  font-size: 1em;
}

.post-content img.full {
  width: 100%
}

.post-content strong {
  color: #999;
}