/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}
body header a, a.icon--footer {
      transition: all 0.325s;
      -moz-transition: all 0.325s;
      -webkit-transition: all 0.325s;
      -o-transition: all 0.325s; }
body header a#logo{
      background: url(../images/wecode.svg) no-repeat center center;
      display: inline-block;
      height: 35px;
      margin: 10px auto;
      text-indent: -30000px;
      width: 245px; }
      body header a#logo:hover{
        opacity: 0.725; }
.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $text-color;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit/2 0;
    background: $brand-color;
    border-bottom: 4px solid #000;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    text-align: center;
    margin:auto;
}
.contact-list li{
    background: $background-second-color;
    color:#fff;
    display:inline;
    padding:$spacing-unit/3;
}
.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
    
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
    
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
    
}
.footer-col-2 a{
    color:#fff;
}
.clearfix{
    clear:both;
}
.description{
    background: $brand-second-color;
    color:$text-color;
    text-align:center;
    width: 90%;
    float:right;
}
a.icon--footer{
    width: $spacing-unit;
    height: $spacing-unit;
    display: inline-block;
    float: left;
    margin-left:$spacing-unit/3;
}
a.icon--footer:hover{
    opacity: 0.70;
}
a.icon--github{
    background: url(../images/redes/github.svg) no-repeat center center;
}
a.icon--twitter{
    background: url(../images/redes/twitter.svg) no-repeat center center;
}
a.icon--facebook{
    background: url(../images/redes/facebook.svg) no-repeat center center;
}
@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
    .description{
        float: none;
        margin:auto;
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        text-align: center;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    background: $background-second-color;
}

.page-heading {
    font-size: 30px;
    display: inline;
    border-top: 4px solid $brand-color;
    
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

ul.post-list{
    margin-left: 10%;
}
ul.post-list li {
    box-shadow: 1px 0 0 #6d6e71 inset;
    color: #61c2ac;
    display: block;
    padding: 2% 0 0% 4%;
    position: relative;
    vertical-align: top;
    margin-bottom: 0;
}
body ul.post-list  li:before {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #141414;
  border-radius: 50%;
  border: 2px solid #6d6e71;
  content: "";
  display: block;
  height: 8px;
  left: -6px;
  position: absolute;
  width: 8px;
}

.graph {
    fill: white;
}


table {  
    margin: 2em 0;
    width: 100%;
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    border-collapse: 
    collapse; border-spacing: 0; 
    td, th {
        border: 1px solid #CCC;
        height: 30px;
        padding: 0 5px;
    }

    th {  
        background: #F3F3F3;
        font-weight: bold;
        text-align: center;
    }

    td {  
        background: #FAFAFA;
        text-align: right;
    }
}