---
layout: default
---
{% assign author = site.authors[page.author] %}
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ author.display_name }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

{% if page.author %}
<section class="author">
  <p><strong>Escrito por {{ author.name }}</strong> • <a href={{ author.web }}>{{ author.web }} </a></p>
</section>
{% endif %}
